.rb-search-bar {
  display: inline-block;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.rb-search-bar__input {
  padding-left: 9px;
  border: none;
  outline: none;
  color: #656565;
  background: #FFF;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 28px;
  line-height: 28px;
}

.rb-search-bar__input:focus {
  height: 28px;
  line-height: 28px;
  border: none;
  box-shadow: none;
  z-index: 1 !important;
}

.rb-search-bar__button {
  padding: 0px 2px;
  height: 28px;
  margin: 0;
  line-height: 22px;
  color: #A1A1A1;
  border: 1px solid #cdcdcd;
  background: linear-gradient(0deg, #e7e7e7, #fff);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-width: 0 1px;
}

.rb-search-bar__button:hover {
  color: #cdcdcd;
}
