@charset "UTF-8";
.rb-item-switch {
  display: inline-block;
}

.rb-item-switch__left, .rb-item-switch__center, .rb-item-switch__right {
  display: inline-block;
  vertical-align: middle;
}

.rb-item-switch__left .highlight:after {
  content: "→" !important;
}

.rb-item-switch__right .highlight:after {
  content: "←" !important;
}

.rb-item-switch__center {
  height: 248px;
  padding: 10px;
}

.rb-item-switch__center__button {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 2px solid #C7C7C7;
  margin-top: 76px;
  cursor: pointer;
}

.rb-item-switch__center__button:before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  border-right: 2px solid #C7C7C7;
  border-bottom: 2px solid #C7C7C7;
  margin-left: 4px;
  margin-top: 5px;
  transform: rotate(-45deg);
}

.rb-item-switch__center__button:nth-of-type(even) {
  margin-top: 12px;
  transform: rotate(180deg);
}

.rb-item-switch__component {
  width: 250px;
}

.rb-item-switch__component__head {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.rb-item-switch__component__head__all-button {
  position: absolute;
  color: #00A3F2;
  cursor: pointer;
}

.rb-item-switch__component__head .text-center {
  display: block;
  font-weight: bold;
}

.rb-item-switch__component__body {
  width: 100%;
}

.rb-item-switch__component__body__search input, .rb-item-switch__component__body__search input:focus {
  box-shadow: none;
  border-bottom-left-radius: 0;
  line-height: 28px;
  height: 28px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 2px 0 0 0;
  border: 1px solid #CDCDCD;
  border-right: none;
}

.rb-item-switch__component__body__search .input-group-btn button, .rb-item-switch__component__body__search .input-group-btn button:focus, .rb-item-switch__component__body__search .input-group-btn button:active, .rb-item-switch__component__body__search .input-group-btn button:focus:active, .rb-item-switch__component__body__search .input-group-btn button:hover {
  height: 28px;
  line-height: 28px;
  border-radius: 0 2px 0 0;
  border: 1px solid #CDCDCD;
  box-shadow: none;
  background: transparent;
  color: #A0A0A0;
  border-left: none;
  padding: 0 12px;
}

.rb-item-switch__component__body__list {
  height: 248px;
  width: calc(100% - 1px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
}

.rb-item-switch__component__body__list--search {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rb-item-switch__component__body__list__ul {
  list-style-type: none;
  padding: 0;
}

.rb-item-switch__component__body__list__ul__li {
  color: #000;
  line-height: 20px;
  border-bottom: 1px dashed #f0f0f0;
  position: relative;
}

.rb-item-switch__component__body__list__ul__li:hover {
  cursor: pointer;
  background: #F7F7F7;
}

.rb-item-switch__component__body__list__ul__li.highlight {
  background: #F0F0F0;
}

.rb-item-switch__component__body__list__ul__li:after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 20px;
  color: #00a3f2;
  font-size: 18px;
  line-height: 28px;
}

.rb-item-switch__component__body__list > .placeholder {
  color: #CACACA;
}
