.rb-button-list {
}

.rb-button-list__label {
  display: inline-block;
  margin: 0 10px 0 0;
}

.rb-button-list__button-group {
  display: inline-block;
}

.rb-button-list__button {
  margin-right: 10px;
}

.rb-button-list__button-active {
  
}