$dark: #171E26;
$dark-grey: #2B3645;
$dark-gray: #2B3645;

$strong-grey: #7F8DA2;
$strong-gray: #7F8DA2;

$grey: #8e97a2;
$gray: #8e97a2;

$light-grey: #BDC6D5;
$light-gray: #BDC6D5;

$sky-blue: #2F7ACE;

$modal-yellow: #d7de0b;
$modal-red: #ff5858;

$blue-title: #5178A8;

$color-modal-header:  $light-gray;
$bg-modal-header: #161819;

$color-modal-button-primary: #FFF;
$color-modal-button-primary-hover: #3e4b5d;
$bg-modal-button-primary: $dark-gray;

$color-modal-button-default: #FFF;
$color-modal-button-default-hover: #9ca4b0;
$bg-modal-button-default: $grey;



.modal-backdrop.in {
  opacity: 0.3;
}

.modal--pc{
  margin-top: 100px;
  overflow: hidden;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.25);
  position: relative;

  .modal-dialog {

  }
  .modal-content {
    background: none;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }

  .modal-header{
    height: 36px;
    padding: 8px 15px;
    /*color: #fff;*/
    font-size: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /*background: linear-gradient(180deg, #313538, #010101);*/
    border-bottom: 1px solid #e6e6e6;

    background: #f7f7f7;
    color: #000;
    /*font-weight: bold;*/

    .icon{
      cursor: pointer;
      float: right;
      font-size: 12px;
      color: #666;
      &.glyphicon.glyphicon-remove-sign--hover:hover {
        color: #000;
      }
    }
  }
  &.modal-confirm {
    width: 450px;
  }
  &.big-padding {
    .modal-body {
      padding: 15px 60px;
    }
  }
  .modal-body {
    max-height: 500px;
    overflow-y: auto;
    background-color: #FFF;
    padding: 30px 15px 30px 15px;
    .form-group {
      label{
        font-weight: normal;
      }
       label + div[class^="col-"] {
         padding-left: 0;
       }
    }
    .modal-body__content{
      padding: 20px 30px;
    }
  }

  .modal-footer{
    text-align: center;
    background-color: #FFF;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid #e6e6e6;
    .btn {
      height: 32px;
      width: 72px;
      &+.btn{
        margin-left: 8px;
      }
    }

  }

  .container-fluid{
    /*padding: 20px 15px;*/
    padding: 0;
    line-height: 22px;
    .col-md-2{
      width: 12.67%;
    }
  }
  .modal-body__icon{
    font-size: 30px;
    &.text-warning{
      color: $modal-yellow;
    }
    &.text-danger{
      color: $modal-red;
    }
    &.customicon{
      height: 30px;
      background: url(https://p.ssl.qhimg.com/d/inn/5322cfff/warning.png) no-repeat 25px 0 / 26px 26px;
      &.exclamation-sign{
        background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/warning.png);
      }
      &.add-sign{
        background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/add.png);
      }
      &.remove-sign{
        background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/remove.png);
      }
    }
  }

  .modal-body__desc{
    /*margin: 5px;*/
    font-size: 14px;
    padding-left: 0;
    /*padding-top: 2px;*/
    word-break: break-all;
  }
  span.glyphicon.glyphicon-remove-sign--hover:hover{
    color: #fff;
  }
  .modal-footer .btn-margin--left {
  }

  &.modal-sm {
    width: 530px;
    .container-fluid {
      padding: 0;
    }

    .modal-body {
      padding-bottom: 30px;
    }
  }
  .help-block {
    margin-bottom: 0;
  }
  .alert-warning {
    color: #b03b3b;
    background-color: #FFFFCB;
    border-color: #d6d846;
    border-radius: 0;
    padding: 8px 0;
    text-align: center;
  }
}

$modalTableBackgroundColor: #F5F5F5;
$modalTableBorderColor: #D2D2D2;

.modal-xxxl {
    width: 1240px;
}
.modal-table {
  table {
    margin-bottom: 15px;

    &>thead {
      border: none;
      background: $modalTableBackgroundColor;

      &>tr {
        &>th {
          text-align: center;
          border: 1px solid $modalTableBorderColor !important;
        }
      }
    }

    &>tbody {
      border: none;

      &>tr {
        &>th {
          border: 1px solid $modalTableBorderColor;
          font-weight: normal;
          text-align: center;
          word-break: break-all;

          &.width-4 {
            width: 40%;
            word-break: break-all;
            text-align: center;
          }
        }

        &:hover {
          background: none;
        }
      }
    }
  }
}

.modal-table {
  .table {
    border: none;

    td {
      border: 1px solid #D2D2D2;

      &.middle {
        vertical-align: middle;
      }

      &.center {
        text-align: center;
      }
    }

    td.addModalHandle {
      border: none !important;
      vertical-align: middle !important;
      color: #e81616;
      opacity: 0;
      user-select: none;
      -webkit-user-select: none;

      label {
        cursor: pointer;
      }
    }

    tr {
      border: none;
    }
    tr:nth-of-type(even) {
      background: none;
    }
    tr:hover td.addModalHandle {
      opacity: 1;
    }
  }
}
