.modal-backdrop.in {
  opacity: 0.3;
}

.modal--pc {
  margin-top: 100px;
  overflow: hidden;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.modal--pc .modal-content {
  background: none;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal--pc .modal-header {
  height: 36px;
  padding: 8px 15px;
  /*color: #fff;*/
  font-size: 12px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  /*background: linear-gradient(180deg, #313538, #010101);*/
  border-bottom: 1px solid #e6e6e6;
  background: #f7f7f7;
  color: #000;
  /*font-weight: bold;*/
}

.modal--pc .modal-header .icon {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #666;
}

.modal--pc .modal-header .icon.glyphicon.glyphicon-remove-sign--hover:hover {
  color: #000;
}

.modal--pc.modal-confirm {
  width: 450px;
}

.modal--pc.big-padding .modal-body {
  padding: 15px 60px;
}

.modal--pc .modal-body {
  max-height: 500px;
  overflow-y: auto;
  background-color: #FFF;
  padding: 30px 15px 30px 15px;
}

.modal--pc .modal-body .form-group label {
  font-weight: normal;
}

.modal--pc .modal-body .form-group label + div[class^="col-"] {
  padding-left: 0;
}

.modal--pc .modal-body .modal-body__content {
  padding: 20px 30px;
}

.modal--pc .modal-footer {
  text-align: center;
  background-color: #FFF;
  padding: 8px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #e6e6e6;
}

.modal--pc .modal-footer .btn {
  height: 32px;
  width: 72px;
}

.modal--pc .modal-footer .btn + .btn {
  margin-left: 8px;
}

.modal--pc .container-fluid {
  /*padding: 20px 15px;*/
  padding: 0;
  line-height: 22px;
}

.modal--pc .container-fluid .col-md-2 {
  width: 12.67%;
}

.modal--pc .modal-body__icon {
  font-size: 30px;
}

.modal--pc .modal-body__icon.text-warning {
  color: #d7de0b;
}

.modal--pc .modal-body__icon.text-danger {
  color: #ff5858;
}

.modal--pc .modal-body__icon.customicon {
  height: 30px;
  background: url(https://p.ssl.qhimg.com/d/inn/5322cfff/warning.png) no-repeat 25px 0/26px 26px;
}

.modal--pc .modal-body__icon.customicon.exclamation-sign {
  background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/warning.png);
}

.modal--pc .modal-body__icon.customicon.add-sign {
  background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/add.png);
}

.modal--pc .modal-body__icon.customicon.remove-sign {
  background-image: url(https://p.ssl.qhimg.com/d/inn/5322cfff/remove.png);
}

.modal--pc .modal-body__desc {
  /*margin: 5px;*/
  font-size: 14px;
  padding-left: 0;
  /*padding-top: 2px;*/
  word-break: break-all;
}

.modal--pc span.glyphicon.glyphicon-remove-sign--hover:hover {
  color: #fff;
}

.modal--pc.modal-sm {
  width: 530px;
}

.modal--pc.modal-sm .container-fluid {
  padding: 0;
}

.modal--pc.modal-sm .modal-body {
  padding-bottom: 30px;
}

.modal--pc .help-block {
  margin-bottom: 0;
}

.modal--pc .alert-warning {
  color: #b03b3b;
  background-color: #FFFFCB;
  border-color: #d6d846;
  border-radius: 0;
  padding: 8px 0;
  text-align: center;
}

.modal-xxxl {
  width: 1240px;
}

.modal-table table {
  margin-bottom: 15px;
}

.modal-table table > thead {
  border: none;
  background: #F5F5F5;
}

.modal-table table > thead > tr > th {
  text-align: center;
  border: 1px solid #D2D2D2 !important;
}

.modal-table table > tbody {
  border: none;
}

.modal-table table > tbody > tr > th {
  border: 1px solid #D2D2D2;
  font-weight: normal;
  text-align: center;
  word-break: break-all;
}

.modal-table table > tbody > tr > th.width-4 {
  width: 40%;
  word-break: break-all;
  text-align: center;
}

.modal-table table > tbody > tr:hover {
  background: none;
}

.modal-table .table {
  border: none;
}

.modal-table .table td {
  border: 1px solid #D2D2D2;
}

.modal-table .table td.middle {
  vertical-align: middle;
}

.modal-table .table td.center {
  text-align: center;
}

.modal-table .table td.addModalHandle {
  border: none !important;
  vertical-align: middle !important;
  color: #e81616;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
}

.modal-table .table td.addModalHandle label {
  cursor: pointer;
}

.modal-table .table tr {
  border: none;
}

.modal-table .table tr:nth-of-type(even) {
  background: none;
}

.modal-table .table tr:hover td.addModalHandle {
  opacity: 1;
}
